/*###################################################### general styles*/

:root {
    --searchProfileHeight: 45px;

    --listWidth: 50%;
    --displayWidth: 50%;

    --mainHeight: 90%;
    --mainWidth: 85%;

    --borderRound: 20px;

    --profileMainGap: -60px;
    --listDisplayGap: -50px;
    --listSearchGap: -25px;
}

/* .hideScrollBar::-webkit-scrollbar {
    display: none;
}

.hideScrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: large; */
    transition: 300ms all ease-out;
    /* border: 1px solid black */
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

body>div {
    width: var(--mainWidth);
    height: var(--mainHeight);
    transform: translate(8.823%, 5.555%);

    position: relative;
}

body>div>* {
    position: absolute;
    width: 100%;
}

.bordered-container {
    border: black solid 2px;
    border-radius: var(--borderRound);

    overflow: hidden;
}

button {
    overflow: hidden;
}

/*###################################################### modal styles*/

foreground {
    position: fixed;
    left: 0;
    top: 0;

    z-index: 99;
    background-color: rgb(0, 0, 0, 0);
    /* background-color: rgb(0, 0, 0, .9); */

    width: 100vw;
    height: 100vh;

    pointer-events: none;
    /* pointer-events: all; */
}

modal {
    position: fixed;
    left: 50%;
    bottom: -25%;
    /* bottom: 50%; */
    transform: translate(-50%, 50%);

    z-index: 100;

    background-color: blue;
    border-radius: 40px;

    width: 50%;
    height: 50%;
}

/*###################################################### profile styles*/
header {
    height: var(--searchProfileHeight);
}

header>* {
    display: inline;
    height: 100%;
}

/*###################################################### main styles*/
main {
    bottom: 0;
    height: calc(var(--profileMainGap) - var(--searchProfileHeight) + 100%);
}

main>* {
    display: inline;
    position: absolute;

    height: 100%;
}

main>div {
    width: calc(var(--listDisplayGap)/2 + var(--listWidth));
    left: 0;
}

main>figure {
    width: calc(var(--listDisplayGap)/2 + var(--displayWidth));
    right: 0;
}

/*###################################################### aside styles*/

main>div>* {
    position: absolute;
    width: 100%;
}

search {
    top: 0;
    height: var(--searchProfileHeight);
}


aside {
    bottom: 0;
    height: calc(var(--listSearchGap) - var(--searchProfileHeight) + 100%);
}

aside>* {
    position: absolute;
}

ul {
    width: 100%;

    overflow: auto !important;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 10px;

    padding: calc(var(--borderRound)/1.5);
}

ul>* {
    height: 80px;
    width: calc(50% - 10px);
}

@media only screen and (max-width: 1000px) {
    ul {
        flex-direction: column;
    }

    ul>* {
        width: 100%;
    }
}

/*###################################################### add event styles*/
aside>div {
    border-radius: 50%;
    width: 50px;
    height: 50px;

    background-color: blue;

    bottom: 15px;
    right: 15px;
}

/*###################################################### event styles*/
.event {
    position: relative;
    padding: 10px;
}

.event>* {
    position: absolute;
}

.event .name {
    top: 0;
    left: 0;
}

.event .type {
    top: 0;
    right: 0;
}

.event .date {
    top: 20px;
    left: 0;
}

.event .remove {
    bottom: 0;
    right: 0;
}

.event .edit {
    bottom: 0;
    left: 0;
}

/*###################################################### search event styles*/
search {
    position: relative;
}

search>* {
    position: absolute;
    height: 100%;
}

search input {
    width: 80%;
    border-radius: 15px 0px 0px 15px;
}

search button {
    width: 20%;
    border-radius: 0 15px 15px 0px;

    right: 0;
}

/*###################################################### event list styles*/