body>main>aside>form {
    height: 50px;
    overflow: hidden;
}

body>main>aside>form>* {
    height: 100%;
    width: 100%;
}

body>main>aside>form>input:focus-visible {
    outline: none;
}

body>main>aside>form>input {
    padding: 0 10px;
    border: 0;
}

body>main>aside>form>div {
    height: 100%;
}

body>main>aside>form>div>button {
    height: 20px;
}