body>main>aside>form {
    min-height: max-content;
    justify-content: flex-start !important;
    flex-wrap: wrap;
    row-gap: 20px;
}

body>main>aside>form>div {
    padding: 10px;
    height: 40px;
    max-width: 100%;
    width: max-content;
}

body>main>aside>form>div>* {
    background-color: #00000000;
    height: 100%;
}

/* ############################################### search */

body>main>aside>form>#formSearch>div>input {
    width: 100px;
}

/* ############################################### type */
/* ############################################### time */
body>main>aside>form>#formTime {
    display: none;
    width: 100px;
}